
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
  th h1 {
   font-weight: bold;
   font-size: 1em;
   text-align: left;
   color: #185875;
 }
 
 .id-workers {
    text-align: center;
    padding: 5px;
 }

  td {
    font-weight: normal;
    font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    padding-left: 0px;
    }

 table {
    position: relative;
   -webkit-box-shadow: 5px 5px 15px 5px #00000040; 
   box-shadow: 5px 5px 15px 5px #00000040;
   background:#1F2739;
   overflow: hidden;
   width: 60vw;
   margin: 0 0 5rem;
   display: table;
 }
 
  td,  th {
   padding: 1em;
   text-align: center;
   cursor: pointer;
 }
 

  tr:nth-child(odd) {
    background: #323C50;
 }
 


  tr:nth-child(even) {
       background: #2C3446;
 }
 
  th {
       background: #1F2739;
 }
 
  td:first-child { color: #FB667A; }
 
 tr:hover {
 background: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
 -moz-box-shadow: 0 6px 6px -6px #0E1119;
 box-shadow: 0 6px 6px -6px #0E1119;
 }
 
  td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   transition-delay: 0s;
   transition-duration: 0.4s;
   transition-property: all;
   transition-timing-function: line;
 }

 /* search bar */


.search-bar {
    position: relative;
    margin: 5rem 0 2rem;
    height: 70px;
    width: 60vw;
    font: 100 46px 'arial';
}

.search-bar:placeholder-shown {
    font: 100 46px 'arial';
}

@media (max-width: 768px) {

  // hide table //

  th:nth-child(5) {
    display: none;
  }
  td:nth-child(5) {
    display: none;
  }

  // hide table //

  th:nth-child(4) {
    display: none;
  }
  td:nth-child(4) {
    display: none;
  }

  // hide table //

  th:nth-child(3) {
    display: none;
  }
  td:nth-child(3) {
    display: none;
  }

  // hide table //

  tbody:nth-child(even) {
    display: none;
  }

 }
